[submodule "CosyVoice"]
	path = CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "UVR5"]
	path = submodules/UVR5
	url = https://github.com/Anjok07/ultimatevocalremovergui.git
[submodule "GPT-SoVITS"]
	path = submodules/GPT-SoVITS
	url = https://github.com/RVC-Boss/GPT-SoVITS.git
[submodule "Linly-Talker"]
	path = submodules/Linly-Talker
	url = https://github.com/Kedreamix/Linly-Talker.git
